body {
  padding: 0px !important;
  margin: 0px !important;
}
.banner {
  background-image: url("./images/background.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: auto; /*tránh tràn màn hình */
  position: relative;
}
.content {
  width: 85%;
}
.delete {
  width: 15%;
  top: 0;
  right: 0;
  position: absolute;
}

.text_header {
  font-size: 8vh;
  color: black;
  margin-left: 4vw;
  margin-top: 3vh;
}
#text_content {
  margin-left: 4vw;
  font-size: 3vh;
}
#input_folder {
  color: black;
  margin-left: 7vw;
  font-size: 4vh;
}
input {
  height: 3vh;
  border-radius: 0.5vw;
}
button {
  height: 4vh;
  width: 4vw;
  border: 2px solid black;
  border-radius: 0.5vw;
  background-color: rgba(224, 229, 255, 0.4);
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 2vh;
}
button:hover {
  background-color: rgba(95, 239, 172, 0.8);
}
button:active {
  background-color: rgba(95, 239, 172, 0.8);
  box-shadow: 0 0.7px rgb(39, 35, 35);
  transform: translateY(0.7px);
}
li {
  cursor: pointer;
}
#area_delete {
  width: auto;
  text-align: center;
  height: 100%;
  background-color: rgba(255, 86, 86, 0.6);
  border: 2px solid white;
  height: 95vh;
  font-size: 4vh;
}
